{{#unless isHiddenNavRoute}} {{! dont show nav bar on some routes}}
  <nav>
    <div class="left-nav">
      <a href="#"{{action "click"}}><span class="glyphicon glyphicon-nav" aria-hidden="true"></span></a>
      <a href="#"{{action "click"}}>ALTERNATIVE DATA</a>
      <a class='active' href="#"{{action "click"}}>CORE FINANCIAL DATA</a>
    </div>

    <div class="image-nav">
      <a href="#"{{action "click"}}><img src='../assets/quandl-logo.svg'></a>
    </div>

    <div class="right-nav">
      <a href="#"{{action "click"}}>DOCS & HELP</a>
      <a href="#"{{action "click"}}>BLOG</a>
      <a href="#"{{action "click"}}>SIGN IN</a>
    </div>
  </nav>
  <div class="title-header">
      <img src="../assets/avatar.png" class="avatar" />
      <span class="title">Data Publisher</span>
  </div>
  {{/unless}}
{{outlet}}
